<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form method="POST" action="{% url 'workers:insert'%}">
        {% csrf_token %}
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name">
        </div><br>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name">
        </div>
        <div>
            <label for="designation">Designation</label>
            <input type="text" name="designation" id="designation"> 
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone">
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city">
        </div>
        <div>
            <label for="state">State</label>
            <input type="text" name="state" id="state">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <input type="submit" value="Submit"> 
    </form>
</body>
</html>